html {
    background-color: rgb(222, 222, 222);
    color: rgb(0, 75, 118);
}

.square-list {
    list-style-type: square;
}

.letter-list {
    list-style-type: upper-alpha;
}

nav ul {
    list-style-type: none;
    padding: 20px;
}